.columns-feature > div {
  display: flex;
  flex-direction: column;
}

.columns-feature img {
  width: 100%;
}

.columns-feature > div > div {
  order: 1;
}

.columns-feature > div > .columns-feature-img-col {
  order: 0;
}

.columns-feature > div > .columns-feature-img-col img {
  display: block;
}

.columns-feature h2 {
  letter-spacing: -0.03em;
}

.columns-feature p {
  font-size: 16px;
  line-height: 1.5;
  color: #454b52;
}

@media (width >= 900px) {
  .columns-feature > div {
    align-items: center;
    flex-direction: unset;
    gap: 32px;
  }

  .columns-feature > div > div {
    flex: 1;
    order: unset;
  }
}
